.background{

    position: absolute;
    top: 70px;
    left: 50%;
}
.background1{

    border-top: 1px solid gold;
    
    width: 400px;

    position: absolute;
    top: 300px;
    left: 40%;
    right: 40%;
    
    
    .border{
        border-bottom:  1px solid gold;
        .cursor{
            cursor: pointer;
        }
    }
}
.background2{
    position: absolute;
    top: 200px;
    left: 50%;
    .cursor{
        cursor: pointer;
    }
}